$padding: 12px;

:host {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 33vh;
}

form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

mat-form-field {
    width: 100%;
    margin-bottom: $padding;
}
