<form [formGroup]="form" (submit)="login()">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>

        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" />

        <mat-error *ngIf="form.controls.email.errors?.email && !form.controls.email.errors?.required">
            Please enter a valid email address
        </mat-error>

        <mat-error *ngIf="form.controls.email.errors?.required"> Email is <strong>required</strong> </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Secret Thing You / Your Computer needs to remember</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Ex. **********" />

        <mat-error *ngIf="form.controls.password.errors?.required"> Secret Thing is <strong>required</strong> </mat-error>
    </mat-form-field>

    <section>
        <button mat-raised-button color="primary">Get in there</button>
    </section>
</form>
