$padding: 12px;

:host {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 33vh;
}

form {
    position: relative;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    background: white;
}
form::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    width: 130%;
    height: 130%;

    background: aliceblue;
    transform: translate(-50%, -50%);
    z-index: -1;
}

mat-form-field {
    width: 100%;
    margin-bottom: $padding;
}
